.login-background {
  // background-image: url("../../../../public/images/login-bg.jpg");
  // background-size: cover;
  // background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  width: fit-content;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.781);

  h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #8f470c;
    margin-bottom: 25px;
  }

  .form-group {
    margin-bottom: 20px;
    width: 100%;

    label {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      color: #333;
      font-weight: 600;
    }

    input {
      width: 88%;
      padding: 10px 15px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      outline: none;
      transition: border-color 0.3s;

      &.is-invalid {
        border-color: #dc3545;
      }
    }

    .invalid-feedback {
      color: #dc3545;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #8f470c;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
  }
}
